<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketList</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>MarketList</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('list_bp.list_lists') }}">Listas</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('user_bp.logout') }}">Sair</a></li>
                {% else %}
                <li><a href="{{ url_for('user_bp.login') }}">Entrar</a></li>
                <li><a href="{{ url_for('user_bp.create_user') }}">Registrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Desenvolvido por <a href="https://github.com/Raidoxxx">Raidoxx</a>
    </footer>
</body>
</html>